# Ignore ide config.
.idea/*

# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

.byebug_history

# Ignore vendor bundle
/vendor/.bundle/*

# Ignore .ruby-version
.ruby-version

# Ignore database.yml
config/database.yml