<p>Hi <%= @user.name %>, </p>
<p>
  You're receiving this e-mail because you requested a password reset for your user account at APP_NAME.
</p>
<p>
  Please go to the following page and choose a new password:
</p>
<p>
  <%= link_to 'Reset password', passwords_reset_url(token: "#{@user.reset_password_token}") %>
</p>
<p>Thanks for using APP_NAME and have a great day!</p>

<p>
  Thanks,<br />
  APP_NAME team
</p>
